<launch>

  <!-- also launch openface-tracker -->
  <include file="$(find openface_tracker)/launch/openface_tracker.launch">
      <arg name="camera_device_arg" value="1" />
  </include>
  
  <!--also launch nao control -->
  <include file="$(find nao_bringup)/launch/nao_full_py.launch">
    <arg name="nao_ip" value="10.0.0.4"/>
    <!--arg name="roscore_ip" value="10.0.0.6"/-->
  </include>

  <node pkg="mutual_modelling" type="cowriter_agents_info.py" name="cowriter_agent_info">
  </node>
  <node pkg="mutual_modelling" type="cowriter_mutual_modelling.py" name="cowriter_mutual_modelling">
  </node>
  <node pkg="mutual_modelling" type="nao_actions.py" name="nao_actions">
  </node>

</launch>
