{% extends 'base.html' %}
{% block title %}Add Story{% endblock %}
{% block body %}

	{% if error_message %}
		<p><strong>{{ error_message }}</strong></p>p
	{% endif %}

{{ request.data }}
{{ request.data.C_MC }}


	<form action="{% url 'storyteste' %}" method="post">
		{% csrf_token %}
		
		<h1><p>Choose the Main Character name</p></h1>
		<div align="right">
			<input type="submit" value="NEXT">
			<br>
		</div>

		<table border="0" cellpadding="1" cellspacing="1" style="width:80%;border-collapse:collapse;border:1px" align="center">
			<tbody>		
				{% for item in request.data.C_MC %}
					{% if forloop.counter|divisibleby:2 %}
							<td width="40%" align="center">
								<input type="radio" name="C_MC" id="item{{ forloop.counter }}" value="{{ item }}"/>
								<label for="item{{ forloop.counter }}">
									{{ item }}
									<img src="https://cdn4.iconfinder.com/data/icons/SIGMA/networking/png/128/piracy.png">
								</label><br>
							</td>
						</tr>
					{% else %}
						<tr>
							<td width="40%" align="center">
							<input type="radio" name="C_MC" id="item{{ forloop.counter }}" value="{{ item }}"/>
							<label for="item{{ forloop.counter }}">
								{{ item }}
								<img src="https://cdn4.iconfinder.com/data/icons/SIGMA/networking/png/128/piracy.png">
							</label><br>
						</td>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
		<br><br>

		<h4>
		 	How do you feel with the option selected?
		 </h4><br>
		<table width="80%" align="center" border="0">
			<tbody>
				<tr align="center">
					<td>
						<input type="radio" name="emotion" id="item{{ forloop.counter }}" value="happy"/>
						<label for="item{{ forloop.counter }}">
							{{ item }}
							<img src="https://cdn2.iconfinder.com/data/icons/emoticons-17/24/emoticons-01-128.png" width="64" height="64">
						</label><br>
					</td>
					<td>
						<input type="radio" name="emotion" id="item{{ forloop.counter }}" value="sad"/>
						<label for="item{{ forloop.counter }}">
							{{ item }}
							<img src="https://cdn2.iconfinder.com/data/icons/emoticons-17/24/emoticons-04-128.png" width="64" height="64">
						</label><br>
					</td>
					<td>
						<input type="radio" name="emotion" id="item{{ forloop.counter }}" value="super_happy"/>
						<label for="item{{ forloop.counter }}">
							{{ item }}
							<img src="https://cdn2.iconfinder.com/data/icons/emoticons-17/24/emoticons-03-128.png" width="64" height="64">
						</label><br>
					</td>
					<td>
						<input type="radio" name="emotion" id="item{{ forloop.counter }}" value="super_sad"/>
						<label for="item{{ forloop.counter }}">
							{{ item }}
							<img src="https://cdn2.iconfinder.com/data/icons/emoticons-17/24/emoticons-02-128.png" width="64" height="64">
						</label><br>
					</td>
				</tr>
			</tbody>
		</table>

		<input type="hidden" value="{{ request.data.C_MCg }}" name="C_MCg" />
		<input type="hidden" value="Opt" name="Opt" />
		
	</form>

{% endblock %}

