<!DOCTYPE html>
<!-- Template by html.am -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{% block title %}Story CoWriting{% endblock %}</title>

		{% load staticfiles%}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<!-- if we add the bootstrap after our css file it will replace it, if-->
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
		
	</head>
	
	<body>		
		{% include 'header.html' %}
		<div id="wrapper">
			<main>
				<div id="content">
					<div class="innertube">
					{% block body %}
					{% endblock %}
					</div>
				</div>
			</main>
			{% include 'left_menu.html' %}
		</div>
		<div id="footer">
			{% include 'footer.html' %}
		</div>
	</body>
</html>