<nav id="nav">
	<div class="innertube">
		<h3>Story options</h3>
		<ul class="nav">
			<li class="active">
				<a href="{% url 'add_story' %}">
					<span aria-hidden="true"></span>&nbsp;Add Story
				</a>
			</li>
			<li class="">
				<a href="{% url 'add_story2' %}">
					<span aria-hidden="true"></span>&nbsp;Add Story 2
				</a>
			</li>
		</ul>
		<h3>Left heading</h3>
		<ul class="nav">
			<li><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li><a href="#">Link 3</a></li>

		</ul>
		<!--
		<form class="navbar-form navbar-left" role="search" method="get" action="#">
			<div class="form-group">
				<input type="type" class="form-control" name="q" value="">
			</div>
			<button type="submit" class="btn btn-default">Search</button>
		</form>
		-->
	</div>
</nav>